<!DOCTYPE html>
<html>
<head>
  <title>MetSomeone</title>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="container">
    <%= link_to "Met Someone", root_path, :class => 'navbar-brand' %>

    <%= form_for Meeting.new, :html => {:class => 'navbar-form'} do |f| %>
      <%= f.submit :value => 'Met Someone', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
